<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>id</th>
            <th>名前</th>
            <th>年齢</th>
            <th>メールアドレス</th>
        </tr>
            <td>{{session['user'][0]}}</td>
            <td>{{session['user'][1]}}</td>
            {% if session['user'][2]==0%}
                <td>男</td>
            {% else %}
                <td>女</td>
            {% endif %}
            <td>{{session['user'][4]}}</td>
</body>
</html>